body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.ng-dirty.ng-invalid {
    border-color: red;
}

.ws-control { color: gray; }
.ws-transmit { color: black; }
.ws-receive { color: blue; }
.ws-error { color: red; }
.alert-info a, .alert-info a:hover {
    color: white;
}
.navbar {
    margin: 0;
    border-width: 0;
    background-color: #333;
    color: #FFF;
    text-transform: lowercase;
}
.navbar-nav>li>a {
    color: white;
    border-bottom: 2px solid #333;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: #333;
    border-bottom: 2px solid #44c5db;
}
a.navbar-brand {
    color: white;
}
a.navbar-brand:hover, a.navbar-brand:focus  {
    color: #44c5db
}