body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.ng-dirty.ng-invalid {
    border-color: red;
}

.ws-control { color: gray; }
.ws-transmit { color: black; }
.ws-receive { color: blue; }
.ws-error { color: red; }