<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.4" targetFramework="net45" />
  <package id="Tubular" version="0.9.17" targetFramework="net45" />
  <package id="Tubular.ServerSide" version="0.9.14" targetFramework="net45" />
</packages>