<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.1" targetFramework="net461" />
  <package id="LiteLib" version="0.8.0" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.0.5.1" targetFramework="net461" />
  <package id="Tubular" version="0.9.49" targetFramework="net45" />
  <package id="Tubular.ServerSide" version="1.0.0" targetFramework="net461" />
</packages>