<div class="row jumbotron">
    <img src="css/embedio.png" alt="embedio"/>
    <h1>It Works!</h1>
    <p>
        This is a very simple application combining static files, a REST API, 
        and putting the front-end together with Angular.JS.
        Most of the external dependencies are pulled from a CDN.
    </p>
</div>

<div class="row">
    <ul class="list-unstyled">
        <li>
            <h4>Web API examples</h4>
            <ul>
                <li><a style="width: 200px; margin-bottom: 4px;" class="btn btn-sm btn-primary" href="/api/people/" target="_blank">Get all people here</a></li>
                <li><a style="width: 200px; margin-bottom: 4px;" class="btn btn-sm btn-info" href="/api/people/1" target="_blank">Get the first person here</a></li>
            </ul>
        </li>
        <li>
            <h4>HTTP Error</h4>
            <ul>
                <li><a style="width: 200px; margin-bottom: 4px;" class="btn btn-sm btn-default" href="/badurl.html" target="_blank">Show me a 404!</a></li>
            </ul>
        </li>
    </ul>
</div>