<div ng-init="orderProp = 'Key'">
    <div class="form-group">
        <label>Search people:</label>
        <input type="text" class="form-control" ng-model="query" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label>Sort By:</label> 
        <select class="form-control" ng-model="orderProp" size="1">
            <option value="Name">Alphabetical</option>
            <option value="Key">Key</option>
        </select>
    </div>
</div>
<br />
<div class="btn-group btn-group-justified">
    <a class="btn btn-sm btn-primary " href="/api/people/" target="_blank">Get all people</a>
    <a class="btn btn-sm btn-primary " href="/api/people/first" target="_blank">Get the first person here</a>
</div>
<br /><br />
<app-person></app-person>
