<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unosquare.Labs.EmbedIO.Command.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <Unosquare.Labs.EmbedIO.Command.Properties.Settings>
            <setting name="HtmlDefaultDocument" serializeAs="String">
                <value>index.html</value>
            </setting>
            <setting name="HtmlDefaultExtension" serializeAs="String">
                <value>.html</value>
            </setting>
            <setting name="UseLocalSessionModule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRamCache" serializeAs="String">
                <value>True</value>
            </setting>
        </Unosquare.Labs.EmbedIO.Command.Properties.Settings>
    </applicationSettings>
</configuration>
