<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteLib" version="0.9.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Linq.Dynamic.Core" version="1.0.6.8" targetFramework="net452" />
  <package id="Tubular.ServerSide" version="1.0.8" targetFramework="net452" />
</packages>