<div ng-controller="CmdController as me"  class="container d-flex flex-column">
    <h1 class="col-12 mb-5">Remote Command-Line Interface</h1>
    <pre id="cliOutput" style="height:320px; overflow: auto;">{{me.commands}}</pre>
    <form name="cmdForm" novalidate ng-submit="cmdForm.$valid && me.submit()">
        <label class="sr-only">Command</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-terminal fa-lg" aria-hidden="true"></i></div>
            <input required type="text" class="form-control" ng-model="me.command" placeholder="Command" />
        </div>
    </form>
</div>