<div ng-controller="PeopleController as people" class="table-responsive">
    <table class="table">
        <tbody>
            <tr ng-repeat="item in people.items | filter:query | orderBy:orderProp">
                <td>
                    <div class="col-md-2">
                        <img class="img-circle img-responsive" ng-src="{{item.PhotoUrl}}" alt="Photo Profile" />
                    </div>
                    <div class="col-md-10">
                        <h4>{{item.Name}} </h4>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-warning mr-3" ng-click="person.showInfo(item)">Tell me about you</button>
                            <a class="btn btn-sm btn-info mr-3" href="mailto:{{item.Name}}<{{item.EmailAddress}}>">Email Me</a>
                            <a class="btn btn-sm btn-primary " href="/api/people/{{item.RowId}}" target="_blank">Get person by Id</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>